@-webkit-keyframes start {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px) scale(0.1);
            transform: translateY(-100px) scale(0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 5px -1px;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@keyframes start {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px) scale(0.1);
            transform: translateY(-100px) scale(0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 5px -1px;
    -webkit-transform: translateY(0px) scale(1);
            transform: translateY(0px) scale(1);
  }
}

@-webkit-keyframes arrow-down-show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes arrow-down-show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes arrow-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes arrow-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes neon1 {
  0% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  1% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  4% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  7% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  8% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  12% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  22% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  23% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 15px #ea9554, 0 0 20px #ea9554, 0 0 30px #ea9554, 0 0 40px #ea9554;
  }
  26% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  28% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  34% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 15px #ea9554, 0 0 20px #ea9554, 0 0 30px #ea9554, 0 0 40px #ea9554;
  }
  36% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  42% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  55% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 15px #ea9554, 0 0 20px #ea9554, 0 0 30px #ea9554, 0 0 40px #ea9554;
  }
  60% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  63% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 15px #ea9554, 0 0 20px #ea9554, 0 0 30px #ea9554, 0 0 40px #ea9554;
  }
  67% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  72% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  73% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  76% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  78% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  84% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 15px #ea9554, 0 0 20px #ea9554, 0 0 30px #ea9554, 0 0 40px #ea9554;
  }
  86% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  96% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  100% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 15px #ea9554, 0 0 20px #ea9554, 0 0 30px #ea9554, 0 0 40px #ea9554;
  }
}

@keyframes neon1 {
  0% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  1% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  4% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  7% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  8% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  12% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  22% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  23% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 15px #ea9554, 0 0 20px #ea9554, 0 0 30px #ea9554, 0 0 40px #ea9554;
  }
  26% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  28% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  34% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 15px #ea9554, 0 0 20px #ea9554, 0 0 30px #ea9554, 0 0 40px #ea9554;
  }
  36% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  42% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  55% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 15px #ea9554, 0 0 20px #ea9554, 0 0 30px #ea9554, 0 0 40px #ea9554;
  }
  60% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  63% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 15px #ea9554, 0 0 20px #ea9554, 0 0 30px #ea9554, 0 0 40px #ea9554;
  }
  67% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  72% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  73% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  76% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  78% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  84% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 15px #ea9554, 0 0 20px #ea9554, 0 0 30px #ea9554, 0 0 40px #ea9554;
  }
  86% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  96% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 17px #ea9554, 0 0 38px #ea9554;
  }
  100% {
    color: #ea9554;
    text-shadow: 0 0 5px #ea9554, 0 0 10px #ea9554, 0 0 15px #ea9554, 0 0 20px #ea9554, 0 0 30px #ea9554, 0 0 40px #ea9554;
  }
}

@-webkit-keyframes neon2 {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ea9554, 0 0 70px #ea9554, 0 0 80px #ea9554, 0 0 100px #ea9554, 0 0 150px #ea9554;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ea9554, 0 0 35px #ea9554, 0 0 40px #ea9554, 0 0 50px #ea9554, 0 0 75px #ea9554;
  }
}

@keyframes neon2 {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ea9554, 0 0 70px #ea9554, 0 0 80px #ea9554, 0 0 100px #ea9554, 0 0 150px #ea9554;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ea9554, 0 0 35px #ea9554, 0 0 40px #ea9554, 0 0 50px #ea9554, 0 0 75px #ea9554;
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: radial-gradient(circle closest-corner at center 125px, #222, black 60%) no-repeat;
  background-repeat: no-repeat;
}

body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.heading-secondary {
  font-size: 3.5rem;
  border-left: 15px solid #ea9554;
  display: inline-block;
  padding: 10px;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.padding-top-big {
  padding-top: 5.9rem;
}

.u-left {
  text-align: left;
}

.u-right {
  text-align: right;
}

.u-list-style-none {
  list-style: none;
}

.bg-color {
  background-color: rgba(255, 255, 255, 0.8);
}

.btn {
  cursor: pointer;
  text-align: center;
  display: block;
}

.btn-about {
  position: absolute;
  bottom: 10vh;
  -webkit-animation: arrow-down-show 6s ease-out;
          animation: arrow-down-show 6s ease-out;
}

.btn-about .arrow-animated {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: .5;
  -webkit-animation: arrow-down 2s 2s ease-in-out infinite;
          animation: arrow-down 2s 2s ease-in-out infinite;
}

.btn-about .arrow-animated:hover {
  color: #ea9554;
  opacity: 1;
}

footer {
  height: 25vh;
}

#site-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 0;
  background-color: #2A2A2A;
  min-height: 20vw;
  background-size: cover;
  background-position: center;
}

.copyright span {
  font-size: 20px;
}

.row {
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.left-underline {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.left-underline:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ea9554;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.left-underline:hover:before, .left-underline:focus:before, .left-underline:active:before {
  right: 0;
}

.txt-change > .txt {
  border-right: 0.2rem solid #777;
}

.header {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.header-logo {
  float: left;
  position: fixed;
  font-size: 30px;
}

.header-logo img {
  width: 60px;
  position: relative;
  top: 13px;
  left: 10px;
  opacity: .7;
}

.navbar {
  text-align: right;
  padding: 20px;
}

.navbar-contener {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
  text-align: center;
}

.navbar-items {
  display: inline-block;
  padding: 10px;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 20px;
  line-height: 18px;
}

.navbar-items a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.welcome-text {
  position: absolute;
}

.welcome-text .name {
  display: inline-block;
  font-size: 4.5rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
  background: radial-gradient(circle farthest-corner at center center, #ccc, #333) no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: start 3s ease-in-out;
          animation: start 3s ease-in-out;
}

.welcome-text .neon1 {
  color: #ea9554;
  font-family: 'Warnes', cursive;
  font-size: 1.8rem;
  position: absolute;
  top: 134px;
  left: 3px;
  -webkit-animation: neon1 4s infinite;
  animation: neon1 4s infinite;
}

.welcome-text .neon2 {
  color: #ea9554;
  font-family: 'Warnes', cursive;
  font-size: 1.8rem;
  position: absolute;
  top: 134px;
  left: 25px;
  -webkit-animation: neon2 2s ease-in-out infinite alternate;
  animation: neon2 2s ease-in-out infinite alternate;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.welcome-text .neon2:hover {
  color: #6d5669;
  text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  -webkit-animation: none;
  animation: none;
}

.welcome-text .neon3 {
  color: #ea9554;
  font-family: 'Warnes', cursive;
  font-size: 1.8rem;
  position: absolute;
  top: 134px;
  left: 60px;
  -webkit-animation: neon2 2s ease-in-out infinite alternate;
  animation: neon2 2s ease-in-out infinite alternate;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.welcome-text .neon3:hover {
  color: #6d5669;
  text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  -webkit-animation: none;
  animation: none;
}

.welcome-text .logo img {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  opacity: .7;
}

canvas {
  width: 100%;
  height: 106vh;
  position: absolute;
}

main {
  background: inherit;
}

.column {
  margin: 15px 15px 0;
  padding: 0;
}

.column:last-child {
  padding-bottom: 60px;
}

.column::after {
  content: '';
  clear: both;
  display: block;
}

.column a.lightbox {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin: 0 0 0 25px;
  padding: 0;
}

.column a.lightbox:first-child {
  margin-left: 0;
}

.i-color {
  color: #ea9554;
}

.anchor {
  display: block;
}

.section-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.section-start .mouse-icon {
  position: absolute;
  bottom: 110px;
  opacity: .5;
}

.section-start .mouse-icon:hover {
  opacity: 1;
}

.section-start .mouse-icon svg:hover path {
  stroke: #ea9554;
}

.section-start .mouse-icon svg:hover line {
  stroke: #ea9554;
}

.section-about {
  height: 100vh;
  width: 100%;
}

.section-about_photo {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
}

.section-about_photo img {
  width: 500px;
}

.section-about_text p {
  font-size: 20px;
}

.section-about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-about .row-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.section-about .row-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-certyfikaty {
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.section-certyfikaty-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.section-certyfikaty-flex--box {
  margin: 20px;
}

.section-certyfikaty-flex--box .lightbox {
  position: relative;
  overflow: hidden;
}

.section-certyfikaty-flex--box .lightbox::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.section-certyfikaty-flex--box .lightbox:hover::before {
  -webkit-animation: shine .75s;
  animation: shine .75s;
}

.section-certyfikaty-flex--box a.lightbox img {
  height: 200px;
  width: 300px;
  border: 3px solid white;
  -webkit-box-shadow: 0px 0px 8px white;
          box-shadow: 0px 0px 8px white;
}

.section-certyfikaty-flex--box:hover .loop-icon {
  opacity: 1;
  bottom: -8px;
  position: relative;
}

.section-certyfikaty-flex .loop-icon {
  position: relative;
  bottom: 25px;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #ea9554;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

.section-certyfikaty-flex .lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.section-certyfikaty-flex .lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  -webkit-box-shadow: 0px 0px 8px white;
          box-shadow: 0px 0px 8px white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.section-certyfikaty-flex .lightbox-target a.lightbox-close {
  display: block;
  width: 50px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -100px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.section-certyfikaty-flex .lightbox-target a.lightbox-close::before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.section-certyfikaty-flex .lightbox-target a.lightbox-close::after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.section-certyfikaty-flex .lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
  left: 0;
}

.section-certyfikaty-flex .lightbox-target:target img {
  max-height: 50%;
  max-width: 100%;
}

.section-certyfikaty-flex .lightbox-target:target a.lightbox-close {
  top: 0px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.section-cv {
  height: 100vh;
}

.section-contact {
  height: 100vh;
  text-align: center;
}

.section-contact .contact-text span {
  font-size: 40px;
  color: #fff;
  font-weight: 600;
  text-shadow: 0px 0px 4px #ea9554;
}

.section-contact .contact-text span:nth-child(1) {
  text-transform: uppercase;
}

.section-contact .contact-text span:nth-child(3) {
  letter-spacing: .5rem;
}

.section-contact .contact-text p {
  font-size: 20px;
  letter-spacing: .8rem;
  color: #ea9554;
}

.section-contact .honeycomb {
  margin: 50px auto;
  text-align: center;
}

.section-contact .hexagon {
  position: relative;
  display: inline-block;
  margin: 1px 18px;
  background-color: lightgray;
  text-align: center;
  color: gray;
}

.section-contact .hexagon, .section-contact .hexagon::before, .section-contact .hexagon::after {
  width: 67px;
  height: 116px;
  border-radius: 20%/5%;
}

.section-contact .hexagon::before {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.section-contact .hexagon::after {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}

.section-contact .hexagon:nth-child(even) {
  top: 59px;
}

.section-contact .hexagon:hover {
  background-color: gray;
  cursor: pointer;
  z-index: 105;
}

.section-contact .hexagon:hover .hexagontent {
  color: white;
}

.section-contact .hexagon:active {
  background-color: #ea9554;
  z-index: 110;
}

.section-contact .hexagontent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 140%;
  font-size: 1.4rem;
  line-height: 1.2;
  z-index: 100;
}

.section-contact .hexagontent i {
  font-size: 30px;
}

.section-contact .ibws-fix {
  /* inline-block whitespace fix */
  font-size: 0;
}
/*# sourceMappingURL=main.css.map */