/*
0 - 600:     Phone
600 - 900:   Tablet portrait
900 - 1200:  Tablet landscape
1200 - 1800: normal style aply
1800++ Big desktop
*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@-webkit-keyframes text-border-rigth {
  0% {
    width: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    width: 65%;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes text-border-rigth {
  0% {
    width: 0;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    width: 65%;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes text-border-left {
  0% {
    width: 0%;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    width: 65%;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes text-border-left {
  0% {
    width: 0%;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    width: 65%;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@-webkit-keyframes show-text {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes show-text {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 43.75%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 31.2%;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 65%;
  }
}

body {
  font-family: "Roboto", serif;
  font-weight: 400;
  line-height: 1.7;
  color: #eef4f2;
  background-color: #264653;
  overflow-x: hidden;
}

.heading-secondary {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  padding: 10px;
  display: inline-block;
}

.heading-small {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 30px;
  padding: 30px;
  margin-bottom: 30px;
}

.heading-small span {
  padding: 10px;
  color: #eef4f2;
}

@media (max-width: 450px) {
  .heading-small {
    font-size: 22px;
    padding: 0;
  }
}

.anim-border--right {
  display: block;
  position: absolute;
  border-top: 4px solid #ccc;
  width: 65%;
  top: 215px;
  -webkit-animation: text-border-rigth 2.7s ease-out;
  animation: text-border-rigth 2.7s ease-out;
}

.anim-border--left {
  display: block;
  position: absolute;
  right: 0;
  top: 380px;
  border-bottom: 4px solid #ccc;
  width: 65%;
  -webkit-animation: text-border-left 2.7s ease-out;
  animation: text-border-left 2.7s ease-out;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-left {
  text-align: left;
}

.u-right {
  text-align: right;
}

.u-list-style-none {
  list-style: none;
}

.bg-color {
  background-color: rgba(255, 255, 255, 0.8);
}

.btn {
  cursor: pointer;
  text-align: center;
  display: block;
}

.btn-about {
  position: absolute;
  bottom: 10vh;
  -webkit-animation: arrow-down-show 4s ease-out;
          animation: arrow-down-show 4s ease-out;
}

.btn-contact {
  position: relative;
  bottom: 7vh;
}

.arrow-animated {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  padding: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.5;
}

.arrow-animated:hover {
  opacity: 1;
}

.arrow-animated--start {
  -webkit-animation: arrow-down 2s 3s ease-in-out infinite;
  animation: arrow-down 2s 3s ease-in-out infinite;
}

.arrow-animated--contact {
  -webkit-animation: arrow-down 2s ease-in-out infinite;
  animation: arrow-down 2s ease-in-out infinite;
}

.button-cv {
  position: relative;
  right: 20%;
  float: right;
  top: -40%;
  text-decoration: none;
}

@media (max-width: 600px) {
  .button-cv {
    right: 0;
    float: none;
  }
}

.button-pulse {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-animation: pulse 1.5s infinite;
  animation: pulse 1.5s infinite;
}

.button-pulse:hover {
  -webkit-animation: none;
  animation: none;
}

.arrow-button {
  position: relative;
}

.photo {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
}

.photo__shape {
  max-height: 70px;
}

.photo__shape > img {
  max-width: 70px;
}

.photo__about {
  position: absolute;
  z-index: -1;
}

.photo__about > img {
  width: 37%;
}

footer {
  height: 200px;
}

#site-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 0;
  background-color: #2a2a2a;
  min-height: 20vw;
  background-size: cover;
  background-position: center;
}

.copyright span {
  font-size: 20px;
}

.row {
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Montserrat", sans-serif;
  padding: 10px 0 0 0;
}

@media (max-width: 600px) {
  .header {
    display: none;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 40%;
}

.navigation__icon {
  font-size: 2rem;
  width: 70px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-left: none;
}

.navigation__icon:not(:last-child) {
  margin-bottom: 10px;
}

.navigation__icon:hover {
  width: 90px;
}

.navigation .active {
  width: 90px;
}

.navbar {
  float: right;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  margin-right: 10px;
}

.navbar__list--items {
  list-style: none;
  letter-spacing: 3px;
  color: #fff;
  padding-bottom: 0;
  margin-left: 2rem;
  width: 100px;
  margin-top: 10px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.navbar__list--items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  text-decoration: none;
  font-size: 1.5rem;
  color: inherit;
}

.navbar__list--items:hover {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 3px;
}

@media (max-width: 600px) {
  .navbar__list {
    display: none;
  }
}

.a-burger {
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
}

.a-burger:after {
  content: "";
  position: absolute;
  background: white;
  height: 2px;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  -webkit-transition: 0.35s ease;
  transition: 0.35s ease;
}

.a-burger:hover:after, .a-burger:focus:after, .a-burger:active:after {
  width: 100%;
}

.button_container {
  display: none;
  position: fixed;
  top: 2%;
  right: 2%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.button_container:hover {
  opacity: 0.7;
}

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: black;
}

.button_container.active .middle {
  opacity: 0;
  background: black;
}

.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: black;
}

.button_container span {
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}

.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  -webkit-animation: fadeInRight 0.5s ease forwards;
          animation: fadeInRight 0.5s ease forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.overlay.open li:nth-of-type(5) {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: black;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: black;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.heading-primary--main {
  font-size: 50px;
  text-transform: uppercase bold;
  letter-spacing: 2px;
}

.heading-primary--sub {
  font-size: 30px;
  text-transform: lowercase;
  letter-spacing: 3px;
}

.parallax-window {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7));
}

.section-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 60vh;
}

.section-start--text {
  display: block;
  width: 100%;
  height: inherit;
  position: relative;
}

.section-start--text .name {
  display: block;
  position: absolute;
  top: 65px;
  font-size: 11rem;
  letter-spacing: 2rem;
  text-transform: uppercase;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 65%;
  margin-left: 20px;
  text-align: center;
  -webkit-animation: show-text 3s ease-in;
          animation: show-text 3s ease-in;
}

@media (max-width: 1200px) {
  .section-start--text .name {
    letter-spacing: 25px;
  }
}

@media (max-width: 900px) {
  .section-start--text .name {
    letter-spacing: 20px;
  }
}

@media (max-width: 450px) {
  .section-start--text .name {
    letter-spacing: 16px;
  }
}

.section-start--text .surname {
  display: block;
  position: absolute;
  right: 0;
  font-size: 11rem;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  width: 65%;
  float: right;
  text-align: center;
  top: 230px;
  margin-right: 20px;
  -webkit-animation: show-text 3s ease-in;
          animation: show-text 3s ease-in;
}

@media (max-width: 1200px) {
  .section-start--text .surname {
    letter-spacing: 25px;
  }
}

@media (max-width: 900px) {
  .section-start--text .surname {
    letter-spacing: 20px;
  }
}

@media (max-width: 450px) {
  .section-start--text .surname {
    letter-spacing: 16px;
  }
}

.section-start--text .web-dev-text {
  display: block;
  position: absolute;
  bottom: 50px;
  font-size: 20px;
  width: 100%;
  text-align: center;
  letter-spacing: 23px;
  font-family: "Montserrat", sans-serif;
  opacity: 0.8;
  padding-left: 20px;
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .section-start--text .web-dev-text {
    letter-spacing: 22px;
  }
}

@media (max-width: 900px) {
  .section-start--text .web-dev-text {
    letter-spacing: 15px;
  }
}

@media (max-width: 450px) {
  .section-start--text .web-dev-text {
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .section-start--text {
    margin-top: 50px;
  }
}

@media (max-width: 900px) {
  .section-start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: inline;
  }
}

@media (max-width: 600px) {
  .section-start {
    padding-top: 0px;
  }
}

.section-about {
  margin-top: 100px;
}

.section-about--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
}

@media (max-width: 900px) {
  .section-about--container {
    top: 0;
  }
}

.section-about--text {
  padding: 20px;
  width: 80%;
}

.section-about--text p {
  font-size: 2.4rem;
}

.section-technology {
  position: relative;
  top: 130px;
  min-height: 40vh;
}

.section-technology--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: auto;
}

.section-technology--container .icon-box {
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 5px;
  border: 4px solid #cdd6d5;
  margin: 20px 10px;
  z-index: 1;
  overflow: hidden;
  text-align: center;
}

.section-technology--container .icon-box ion-icon {
  position: absolute;
  font-size: 20px;
  width: 60%;
  height: 60%;
  color: #cdd6d5;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 900px) {
  .section-technology--container .icon-box ion-icon {
    width: 40%;
    height: 40%;
    -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
  }
}

.section-technology--container .icon-box i {
  position: relative;
  font-size: 100px;
  color: #cdd6d5;
  top: 10%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 900px) {
  .section-technology--container .icon-box i {
    font-size: 70px;
    -webkit-transform: translate(0%, 10%);
            transform: translate(0%, 10%);
  }
}

.section-technology--container .icon-box:hover ion-icon {
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  width: 40%;
  height: 40%;
}

.section-technology--container .icon-box:hover i {
  font-size: 70px;
}

.section-technology--container .icon-box:hover .icon-details {
  bottom: 0;
}

@media (max-width: 450px) {
  .section-technology--container .icon-box {
    height: 250px;
  }
}

.section-technology--container .icon-details {
  position: absolute;
  bottom: -120px;
  width: 100%;
  height: 40%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
  background-color: #415b76;
}

.section-technology--container .icon-details span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
}

@media (max-width: 900px) {
  .section-technology--container .icon-details {
    bottom: 0;
  }
}

@media (max-width: 450px) {
  .section-technology--container .icon-details {
    padding-top: 10px;
  }
}

@media (max-width: 900px) {
  .section-technology {
    top: 0;
  }
}
/*# sourceMappingURL=main.css.map */