@-webkit-keyframes arrow-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes arrow-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: radial-gradient(circle closest-corner at center 125px, #222, black 60%) no-repeat;
  background-repeat: no-repeat;
}

body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.btn {
  cursor: pointer;
  text-align: center;
  display: block;
}

.btn-circle {
  border: 1px solid white;
  border-radius: 5px;
  position: relative;
  width: 50px;
  height: 51px;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.btn i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100%;
  height: 100%;
  padding: 9px 0;
}

.btn i:hover {
  color: #ea9554;
  -webkit-animation: arrow-down 1s infinite;
          animation: arrow-down 1s infinite;
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

header {
  height: 100vh;
}

.header-logo {
  float: left;
  position: fixed;
  font-size: 30px;
}

.navbar {
  right: 0;
  padding: 20px;
  position: fixed;
}

.navbar-contener {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style: none;
  text-align: center;
}

.navbar-items {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 20px;
}

.navbar-items:hover {
  border-bottom: 1px solid #ea9554;
  border-width: 2px;
}

.navbar-items a {
  text-decoration: none;
  color: white;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.start h1 {
  display: inline-block;
  font-size: 4.5rem;
  letter-spacing: .5rem;
  text-transform: uppercase;
  background: radial-gradient(circle farthest-corner at center center, #ccc, #333) no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.start p {
  color: #ea9554;
  font-weight: 600;
  font-size: 1.8rem;
  position: absolute;
  top: 60px;
  left: 3px;
}

.start-logo {
  border: 1px solid white;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -10%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
  text-align: center;
}

.section-about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.section-about_photo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-about_photo img {
  width: 400px;
  height: 320px;
  position: relative;
  top: 50%;
  border-radius: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
}

.section-about_text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-about_text p {
  text-align: left;
  width: 500px;
  height: 400px;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-portfolio {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.section-portfolio--box {
  position: relative;
  border: 5px solid #ea9554;
}

.section-portfolio--box a img {
  width: 300px;
  height: 180px;
}

.section-cv {
  height: 100vh;
}

.section-contact {
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */