footer {
	height: 25vh;	
}

#site-footer {
	padding: 25px 0;
	font-size: 85%;
	background-color: #2A2A2A;
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
}

#site-footer {
	min-height: 20vw;
	background-size: cover;
	background-position: center;
}