.header {
    position: fixed;
    height: 10px;    
    width: 100%;
    z-index: 1;
    
    &__logo-box {
        position: absolute; 
        top: 1rem;
        left: 1rem;
    }
    
    &__logo {
        height: 3.5rem;
    }
    
    &__navigation {
        display: inline-flex;
        float: right;
        margin-right: 40px;
        
        a {
            font-size: 10px;
            padding: 0 10px;
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            // border-bottom: 1px solid $color-primary;
            
            @include screen('mobile') {
                font-size: 15px;
            }

            @include screen('tablet') {
                font-size: 20px;
            }

            &:hover, &:focus {
                border-bottom: 2px solid $color-primary;
                color: $color-primary;
                animation: borderBottom 1s ease-in-out;
            }
        }

    }
}