.header {
    position: fixed;
    width: 100%;
    padding: 20px;
    z-index: 1;
    // background-color: $color-primary;

    &__navigation {
        float: right;
        
        a {
            font-size: 15px;
            padding: 0 10px;
            text-decoration: none;
            color: white;
            animation: moveInButton .6s ease-in;
            
            @include screen('mobile') {
                font-size: 20px;
            }

            @include screen('tablet') {
                font-size: 25px;
            }

            &:hover, &:focus {
                border-bottom: 1px solid white;
            }
        }
    }
}