.header {
    position: fixed;
    background-color: lightgray;
    width: 100%;
    padding: 5px;

    &__navigation {
        display: flex;
        justify-content: flex-end;
        
        a {
            padding: 0 10px;
            text-decoration: none;
            color: $color-primary;
            animation: moveInButton .6s ease-in;

            &:hover, &:focus {
                border-bottom: 1px solid $color-primary;
            }
        }
    }
}