.photo {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;

  &__shape {
    max-height: 70px;

    & > img {
      max-width: 70px;
    }
  }
}

.photo__about {
  position: absolute;
  z-index: -1;

  & > img {
    width: 45%;
  }
}
