.photo {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;

  &__shape {
    max-height: 70px;

    & > img {
      max-width: 70px;
    }
  }
}

.photo__about {
  position: absolute;
  z-index: -1;
  width: 400px;
  height: 400px;

  background-image: linear-gradient(to right bottom, rgba(#264653, 0.8)),
    url("../../img/me_to_about.jpg");
  background-size: cover;
  background-position: top;
}
