.photo {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  margin-left: 20px;

  &__shape {
    max-height: 70px;

    & > img {
      max-width: 70px;
    }
  }
}

.photo__about {
  position: absolute;
  width: 400px;
  height: 400px;

  background-image: linear-gradient(to right bottom, rgba(#264653, 0.8)),
    url("/Portfolio/img/me_to_about.jpg"); //zmiana linku do obrazka, aby poprawnie wyświetlał się na github
  background-size: cover;
  background-position: top;
}
