@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: scale(.5);
    }

    100% {
        opacity: 1;
        transform: translateY(1);
    }
}

@keyframes borderBottom {
    0% {
        border-bottom: none;
        opacity: .3;
    }
    100% {
        border-bottom: 1px solid white;
        opacity: 1;
    }
}