*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%; 
    overflow: hidden; 
}

body {
    margin: 0 10px;
    box-sizing: border-box;
    // background-color: black;
    background: radial-gradient(
    circle closest-corner at center 125px,
    #222,
    black 60%
  ) no-repeat;
    background-repeat: no-repeat;
}