@import url('https://fonts.googleapis.com/css?family=Roboto');

.heading-secondary {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    padding: 10px;
    // border-left: 15px solid $primary-color;
    display: inline-block;
}

.heading-small {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    margin-bottom: 30px;

    span {
        display: inline-block;
        width: 400px;
        border-radius: 5px;
        padding: 10px;
        color: #EEF4F2;
        box-shadow: 0px 0px 10px #7B9BA6;
    }

    @include respond(small-screen) {
        font-size: 22px;
        padding: 0;
    }
}