@import url('https://fonts.googleapis.com/css?family=Roboto');

.heading-secondary {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    padding: 10px;
    // border-left: 15px solid $primary-color;
    display: inline-block;
}

.heading-small {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 20px;

    @include respond(small-screen) {
        font-size: 22px;
    }
}