.icons {
    display: block;
    position: absolute;
    bottom: 0;
    text-indent: -9999px;
    width: 36px;
    height: 36px;
    background-image: url('../../icon/github-white.svg');
    background-size: 36px 36px;
    fill: red;

    &:hover {
        fill: #fff;
    }

    svg {
        fill: red;
    }
}