// OGÓLNE
main {
    background: inherit;
// .section-home {
//     background-attachment: fixed;
//     background-position: 50% 0;
//     background-repeat: no-repeat;
//     background-size: cover;
//     height: 100vh;
//     // position: relative;
//     background-image: -webkit-gradient(linear, left top, right bottom, from(rgba($color-lightgray, 0.8)), to(rgba($color-darkgray, 0.8))), url("../img/josh-spires-734341-unsplash.jpg");
//     background-image: linear-gradient(to right bottom, rgba($color-lightgray, 0.8), rgba($color-darkgray, 0.8)), url("../img/josh-spires-734341-unsplash.jpg");
//     // background-position: top;

// }
.heading-primary {

    &--main {
        font-size: 50px;
        text-transform: uppercase bold;
        letter-spacing: 2px;
    }

    &--sub {
        font-size: 30px;
        text-transform: lowercase;
        letter-spacing: 3px;
    }
}

.parallax-window {
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(black, 0.7));
}

// .column {
// 	margin: 15px 15px 0;
//   padding: 0;
  
//   @include respond(phone) {
//     margin: 0;
//   }
// }
// .column:last-child {
// 	padding-bottom: 60px;
// }
// .column::after {
// 	content: '';
// 	clear: both;
// 	display: block;
// }
// .column a.lightbox {
// 	position: relative;
// 	float: left;
// 	width: 300px;
// 	height: 200px;
// 	margin: 0 0 0 25px;
//   padding: 0;
  
// }
// .column a.lightbox:first-child {
// 	margin-left: 0;
// }

// .i-color {
//     color: $primary-color;
// }

// .anchor {
//     display: block;;
// }

// .honeycomb {
//     margin: 50px auto;
//     text-align: center;
//   }

// .hexagon {
//     position: relative;
//     display: inline-block;
//     margin: 1px 18px;
//     background-color: lightgray;
//     text-align: center;
//     color: gray;
//   }
//   .hexagon, .hexagon::before, .hexagon::after {
//     width: 67px;
//     height: 116px;
//     border-radius: 20%/5%;
//   }
//   .hexagon::before {
//     background-color: inherit;
//     content: "";
//     position: absolute;
//     left: 0;
//     transform: rotate(-60deg);
//   }
//   .hexagon::after {
//     background-color: inherit;
//     content: "";
//     position: absolute;
//     left: 0;
//     transform: rotate(60deg);
//   }
//   .hexagon:nth-child(even) {
//     top: 59px;
//   }
//   .hexagon:hover {
//     background-color: gray;
//     cursor: pointer;
//     z-index: 105;
//   }

//   .hexagon:hover .hexagontent {
//       color: white;
//   }

//   .hexagon:active {
//     background-color: $primary-color;
//     z-index: 110;
//   }
//   .hexagontent {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 140%;
//     font-size: 1.4rem;
//     line-height: 1.2;
//     z-index: 100;

//     i {
//         font-size: 30px;
//     }
//   }
//   .ibws-fix {
//     /* inline-block whitespace fix */
//     font-size: 0;
//   }
}